# Ignore virtual environment
venv/
venv_name/
.env/
env/

# Ignore Python cache files
__pycache__/
*.py[cod]
*$py.class

# Ignore IDE-specific files
.vscode/
.idea/

# Ignore local settings
*.local

# Ignore compiled files
*.so
*.dll
*.dylib

# Ignore distribution files
dist/
build/
*.egg-info/

# Ignore logs and databases
*.log
*.sqlite3

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore macOS system files
.DS_Store

# Ignore Windows system files
Thumbs.db